name: Build and Test

on:
  push:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Build
      shell: pwsh
      run: Build/scripts/fluentrdp.build.ps1 -version 0.0.0
  
  test:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Test
      shell: pwsh
      run: Build/scripts/fluentrdp.test.ps1 -version 0.0.0
    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: |
          ./**/TestResults/*.trx
          ./**/TestResults/*.html
        retention-days: 10
      if: ${{ always() }}
