name: Publish FluentRDP

on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    env:
      VERSION: ${{ github.ref_name }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Build
      shell: pwsh
      run: Build/scripts/fluentrdp.build.ps1 -version ${{ env.VERSION }}
  
  test:
    runs-on: windows-latest
    env:
      VERSION: ${{ github.ref_name }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Test
      shell: pwsh
      run: Build/scripts/fluentrdp.test.ps1 -version ${{ env.VERSION }}
    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: |
          ./**/TestResults/*.trx
          ./**/TestResults/*.html
        retention-days: 10
      if: ${{ always() }}
  
  publish:
    needs: [build, test]
    runs-on: windows-latest
    env:
      RELEASE_VERSION: ${{ github.ref_name }}
      PUBLISH_FOLDER_PORTABLE_SELF_CONTAINED: FluentRDP.${{ github.ref_name }}.self-contained-portable
      PUBLISH_FOLDER_PORTABLE_FRAMEWORK_DEPENDENT: FluentRDP.${{ github.ref_name }}.framework-dependent-portable
      ZIP_FILENAME_SELF_CONTAINED: FluentRDP.${{ github.ref_name }}.self-contained.portable.zip
      ZIP_FILENAME_FRAMEWORK_DEPENDENT: FluentRDP.${{ github.ref_name }}framework-dependent.portable.zip
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Publish Self-Contained
      shell: pwsh
      run: Build/scripts/fluentrdp.publish.portable.ps1 -version ${{ env.RELEASE_VERSION }} -runtime win-x64 -publishFolder ${{ env.PUBLISH_FOLDER_PORTABLE_SELF_CONTAINED }}
    - name: Publish Framework-Dependent
      shell: pwsh
      run: Build/scripts/fluentrdp.publish.portable.ps1 -version ${{ env.RELEASE_VERSION }} -publishFolder ${{ env.PUBLISH_FOLDER_PORTABLE_FRAMEWORK_DEPENDENT }}
    - name: Create Self-Contained release artifact
      uses: thedoctor0/zip-release@0.7.5
      with:
        type: 'zip'
        filename: ${{ env.ZIP_FILENAME_SELF_CONTAINED }}
        path: ${{ env.PUBLISH_FOLDER_PORTABLE_SELF_CONTAINED }}
    - name: Create Framework-Dependent release artifact
      uses: thedoctor0/zip-release@0.7.5
      with:
        type: 'zip'
        filename: ${{ env.ZIP_FILENAME_FRAMEWORK_DEPENDENT }}
        path: ${{ env.PUBLISH_FOLDER_PORTABLE_FRAMEWORK_DEPENDENT }}
    - name: Upload release artifacts
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ${{ env.ZIP_FILENAME_SELF_CONTAINED }}
          ${{ env.ZIP_FILENAME_FRAMEWORK_DEPENDENT }}